.staticState {
  opacity: 1;
  transform: translateY(0%);
}

.animate-slide-enter, .animate-slide, .animate-slide-appear, .animate-slide-leave, .animate-slide-leave-active {
  > div {
    transition: all 0.6s ease 0.2s;
  }
}

.animate-slide-enter, .animate-slide-appear {
  > div {
    opacity: 0;
    transform: translateY(100%);
  }

  &.animate-slide-enter-active {
    > div {
      @extend .staticState
    }
  }
}

.animate-slide-leave {
  > div {
    @extend .staticState
  }

  &.animate-slide-leave-active {
    > div {
      opacity: 0;
      transform: translateY(-150%);
    }
  }
}

