$comhem_gray: #e6ebe5;
$bg_color: #242426;

$color_white: #f3f3f3;
$color_black: #303130;

$comhem_color_1: #ffcd00;
$comhem_color_2: #069b41;
$comhem_color_3: #00bbff;
$comhem_color_4: #0038ab;
$comhem_color_5: #9f64dc;
$comhem_color_6: #fe54aa;
$comhem_color_7: #ff2c1e;