@import "~leaflet/dist/leaflet.css";
@import "colors";

.leaflet-container {
  z-index: 0;
  top: 0;
  position: absolute;
  display: block;
  height: 100%;
  width: 25%;
  background: $bg_color;
}

.map-marker-icon {
  padding-bottom: 41px;
  background: url('~leaflet/dist/images/marker-icon.png');
  width: 100%;
  height: 100%;
  filter: hue-rotate(0deg);

  &, &--1 {
    filter: hue-rotate(40deg);
  }
  &, &--2 {
    filter: hue-rotate(80deg);
  }
  &, &--3 {
    filter: hue-rotate(120deg);
  }
  &, &--4 {
    filter: hue-rotate(160deg);
  }
  &, &--5 {
    filter: hue-rotate(200deg);
  }
  &, &--6 {
    filter: hue-rotate(240deg);
  }
  &, &--7 {
    filter: hue-rotate(280deg);
  }
  &, &--8 {
    filter: hue-rotate(320deg);
  }
  &, &--9 {
    filter: hue-rotate(360deg);
  }
}
