@import "colors";

.message-container {
  align-items: center;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.hashtag {
  color: $border_color;
}

.message--item {
  position: absolute;
}

.message--item__single--content {
  padding: 15px;
  background: $color_white;
}

.message--item__thread, .message--item__single {
  max-width: 900px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  color: $color_black;
  text-align: left;
  font-size: 14px;
}

.message-thread__children--container {
  background-color: fade_out(darken($color_white, 20%), 0.5);
}

.thread-replies {
  padding: 10px;
  border-bottom: 1px dashed fade_in($comhem_color_4, 0.8);
  .thread__message {
    padding: 5px;
  }
}


.message--body--text {
  padding: 15px;
  font-size: 20px;
}

.author-icon {
  display: block;
  width: 70px;
  border-radius: 50%;
}

.author--icon__pull-left {
  float: left;
  margin-right: 10px;
}

.author-title {
  font-size: large;
}

.date__pull-right {
  color: #91b594;
  margin-left: 10px;
  float: right;
}

.message--body--wrapper {
  margin-left: 80px;
  color: #666;
}

.switch {
  position: absolute;
  top: 30px;
  left: 30px;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* TODO: FIX OWN CLASS */
.thread-replies {
  margin-left: 5px;
}