@import "typography";
@import "colors";
@import "~font-awesome/css/font-awesome.css";

$animation_time_page_reel: 12s;
$bigger_layout_percentage: 75%;
$smaller_layout_percentage: 25%;

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, .main {
  position: relative;
  height: 100%;
  width: 100%;
}

body {
  background: $bg_color;
}

.container {
  background: transparent;
  height: 100%;
}

.main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-flow: row wrap;
  justify-content: space-around;
}

.left--feed {
  position: relative;
  flex: 1 0 $bigger_layout_percentage;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  overflow: hidden;
  z-index: 2;
}

.right--feed {
  flex: 1 0 $smaller_layout_percentage;
  height: 100%;
  box-sizing: border-box;
}

.background-overlay-color {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: rgba(200, 200, 200, 0.25);
  //z-index: 1;
}

.logo {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
}

//Loading animation
@keyframes progress-animation {
  0% {
    width: 100%;
    background-color: $comhem_color_1;
  }
  20% {
    background-color: $comhem_color_2;
  }
  40% {
    background-color: $comhem_color_3;
  }
  60% {
    background-color: $comhem_color_4;
  }
  80% {
    background-color: $comhem_color_5;
  }
  90% {
    background-color: $comhem_color_6;
  }
  100% {
    background-color: $comhem_color_7;
    width: 0;
  }
}

.quantum-progressbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;

  .quantum-progressbar {
    position: relative;
    background: $color_white;
    height: 100%;
    width: 100%;
    color: #f3f3f3;
    transition: width;
    animation: progress-animation $animation_time_page_reel infinite;
    transition-timing-function: linear;
    box-shadow: -2px 2px 10px fade_out($color_black, 0.5);
  }
}