language: java
dist: trusty
sudo: required
jdk:
- openjdk8
services:
- docker
cache:
  directories:
  - "$HOME/.m2"
after_success:
- bash <(curl -s https://codecov.io/bash)
before_deploy:
- ./scripts/setup_kubernetes.sh ${TRAVIS_BRANCH}
deploy:
  - provider: script
    skip_cleanup: true
    script: ./scripts/deploy.sh ${TRAVIS_BRANCH} ${TRAVIS_COMMIT::8}
    on:
      branch: develop
  - provider: script
    skip_cleanup: true
    script: ./scripts/deploy.sh ${TRAVIS_BRANCH} ${TRAVIS_COMMIT::8}
    on:
      branch: master